# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
pip-selfcheck.json
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts

# Environnement virtuel Ansible
ansible-venv/
.venv/
env/
venv/
pyvenv.cfg

# Ansible
*.retry
*.log
*.tar.gz
*.tar
*.zip
*.bak
*.swp
*.lock
.ansible/
.ansible-lint

# VSCode
.vscode/

# Fichiers sensibles (certificats, clés privées)
*.key
*.crt
*.cer
*.csr
*.pem
*.p12
*.cnf