[ req ]
prompt = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = {{ country }}
L = {{ locality }}
O = {{ organization }}
CN = {{ inventory_hostname }}.{{ domain }}
emailAddress={{ generate_ssl_key_csr_email_prefix }}@{{ generate_ssl_key_csr_domain }}

[ req_ext ]
subjectAltName = {% for name in generate_ssl_key_csr_subject_alt_names -%}
DNS:{{ name }}{{ "," if not loop.last else "" }}
{%- endfor %}
