<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur srv-web01</title>
</head>
<body style="background-color:#f4f4f4; font-family:Arial, sans-serif; text-align:center; padding-top:50px;">
    <h1>Déploiement réussi ! 🚀</h1>
    <p>Bienvenue sur votre serveur Web {{ http_host }}</p>
    <p>Ce site a été automatiquement déployé grâce à <strong>Ansible</strong>.</p>
</body>
</html>