<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
</head>
<body style="background-color:#f4f4f4; font-family:Arial, sans-serif; text-align:center; padding-top:50px;">
    <h1>Déploiement réussi</h1>
    <p>Bienvenue sur <strong>{{ http_host }}</strong></p>
    <p>Ce site a été déployé automatiquement avec <strong>Ansible</strong>.</p>
    <hr style="margin:40px;">
    <p>Déployé par :</p>
    <h2>{{ student_fullname }}</h2>
</body>
</html>